{% extends "quotes/boilerplate.html" %}

{% load static %}

{% block tittle %} ADD {% endblock %}

{% block body %}

    <section id="section1">
        <div class="form-box">
            <div class="form-value">
                <form action="{% url 'add' %}" method="POST" id="">
                    {% csrf_token %}
                    <h1>Add quote</h1>
                    <div class="inputbox">
                        <label for="person">author:</label>
                        <br>
                        <br>
                        <input type="text" name="person" id="person" >
                    </div>
                    <div class="inputbox">
                        <label for="Quote">Quote: </label>
                        <br>
                        <br>
                        <input type="text" name="Quote" id="Quote" >
                    </div>
                    <input type="submit" value="add" id="submit">
                    <br>
                    <br>
                    <br>
                    <button id="submit">
                    <a href="{% url 'index' %}" class="ass">watch quotes</a>
                    </button>
            </div>
        </div>
        </form>
    </section>

    
    {%endblock%}
