<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quotes</title>
</head>
<body>
    <ul>
        {%for info in info %}
        <li> {{info.person}} </li>
        <ul>
            <li> {{info.quote}} </li>
            <li>
                <a href="/quotes/delete/{{info.id}}">delete</a>
            </li>
        </ul>
        
    </ul>
    {% endfor %}
    <a href="{% url 'add' %}">add a movie</a>
</body>
</html>