{% extends "quotes/boilerplate.html" %}


{% block tittle %} Index {% endblock %}

{% block body %}
<section id="section2">
    <div id="form-box">
        <div class="form-value">
            <div class="wrap">
                <h1> QUOTES </h1>
                {%for info in info %}
                <ol style="text-align: left;">
                    <li class="person"> {{info.person}} </li>
                    <ul>
                        <li class="wrap quote_class"> {{ info.quote|truncatechars:40|linebreaksbr }}</li>
                        
                        <li class="delete">
                            <a href="/quotes/delete/{{info.id}}" class="delete as">-</a>
                        </li>
                    </ul>
                </ol>

                {% endfor %}
            </div>
            <br>
            <br>
            <a href="{% url 'add' %}" class="a">ADD A QUOTE</a>
        </div>
    </div>
        
        
        {% endblock %}
</section>